<footer class="bg-dark text-white mt-5 pt-5 pb-4">
  <div class="container text-center text-md-start">
    
    <div class="row text-center text-md-start">
      
      <div class="col-md-4 col-lg-4 col-xl-3 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Filmoteca</h5>
        <p>
          <i class="bi bi-geo-alt-fill me-2"></i> Calle del Cine, 42<br>
          28013 Madrid, España
        </p>
        <p>
          <i class="bi bi-envelope-fill me-2"></i> info@filmoteca-pablo.com
        </p>
      </div>

      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Enlaces</h5>
        <p>
          <a routerLink="/home" class="text-white text-decoration-none">Inicio</a>
        </p>
        <p>
          <a routerLink="/peliculas" class="text-white text-decoration-none">Catálogo</a>
        </p>
        <p>
          <a routerLink="/contacto" class="text-white text-decoration-none">Contacto</a>
        </p>
      </div>

      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Síguenos</h5>
        <div class="d-flex justify-content-center justify-content-md-start">
          <a href="#" class="btn btn-primary btn-floating m-1" style="background-color: #3b5998; border: none;" role="button">
            <i class="bi bi-facebook"></i>
          </a>
          <a href="#" class="btn btn-primary btn-floating m-1" style="background-color: #55acee; border: none;" role="button">
            <i class="bi bi-twitter-x"></i>
          </a>
          <a href="#" class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac; border: none;" role="button">
            <i class="bi bi-instagram"></i>
          </a>
          <a href="#" class="btn btn-primary btn-floating m-1" style="background-color: #333333; border: none;" role="button">
            <i class="bi bi-github"></i>
          </a>
        </div>
      </div>

    </div>

    <hr class="mb-4">

    <div class="row align-items-center">
      <div class="col-12 text-center">
        <p>
          © 2026 Proyecto 
          <strong class="text-warning align-items-center">Pablo Paz</strong>. 
        </p>
      </div>
    </div>

  </div>
</footer>