<footer class="bg-dark text-white mt-5 pt-5 pb-4">
  <div class="container text-center text-md-start">
    
   <div class="row text-center justify-content-center">
      
      <div class="col-md-4 mb-4">
        <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Filmoteca</h5>
        <p>
          <i class="bi bi-geo-alt-fill me-2"></i> Calle del Cine, 42<br>
          41089 Sevilla, España
        </p>
        <p>
          <i class="bi bi-envelope-fill me-2"></i> info@filmoteca-pablo.com
        </p>
      </div>

      <div class="col-md-4 mb-4">
        <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Enlaces</h5>
        <ul class="list-unstyled"> <li><a routerLink="/home" class="text-white text-decoration-none">Inicio</a></li>
          <li><a routerLink="/peliculas" class="text-white text-decoration-none">Catálogo</a></li>
          <li><a routerLink="/contacto" class="text-white text-decoration-none">Contacto</a></li>
        </ul>
      </div>

      <div class="col-md-4 mb-4">
        <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Sígueme</h5>
        <div class="d-flex justify-content-center gap-3">
          <a href="https://www.linkedin.com/in/pablo-paz-fern%C3%A1ndez-21978525a/" 
             class="btn btn-primary btn-floating" 
             style="background-color: #0077b5; border: none; width: 40px; height: 40px; display: flex; align-items: center; justify-content: center;" 
             role="button">
            <i class="bi bi-linkedin"></i>
          </a>
          <a href="https://github.com/pablopaz529" 
             class="btn btn-primary btn-floating" 
             style="background-color: #333333; border: none; width: 40px; height: 40px; display: flex; align-items: center; justify-content: center;" 
             role="button">
            <i class="bi bi-github"></i>
          </a>
        </div>
      </div>

    </div>

    <hr class="mb-4">

    <div class="row align-items-center">
      <div class="col-12 text-center">
        <p>
          © 2026 Proyecto 
          <strong class="text-warning align-items-center">Pablo Paz</strong>. 
        </p>
      </div>
    </div>

  </div>
</footer>